@charset "utf-8";



@media screen and (max-width:2000px) {
    


*{
    margin: auto;
    list-style: none;
    text-decoration: none;

}
.tudo{
    background-color: black;
    width: 95%;
}
.cabecalho{

    


    height: 50px;
    width: 100%;
    background-color: rgba(12, 25, 54, 0.726);
}
nav{
   text-align: center;
   padding-top: 10px;
}
nav a{  
   
    font-size: 22px;

    color: rgb(211, 211, 211);
    text-decoration: none;
    font-weight: 900;
    margin: 0px 2px;
    padding: 5px;
}
nav a:hover{  
padding: 5px;
    background-color: rgba(238, 238, 238, 0.123);
    border-radius: 2px;

}
/* Top 5 series */
.Top_FS{
    display: grid;
grid-template-columns: repeat(2,1FR);
    float: left;
    height:auto;
    width: 55%;
    background-color: rgb(13, 13, 26);
}

.Top_FS img{
    width: 140px;
    height: 100%;
    object-fit: cover;
    transition: all 0.1s  ease-in-out;
}
.Top_FS img:hover{
   
   filter: brightness(0.9);
    border-radius: 10px;    
    
   
  
}.Top_FS h2{
    width: 100%;
     color: rgb(244, 244, 244);
     margin: 20px 0px;
     box-shadow: 1px 1px 1px rgb(11, 6, 27);
 }
/* Painel principal */
.PainelPrincipal {
    float: left;
    height:auto;
    width: 45%;
    padding-top: 10px;
background-color: rgb(15, 16, 16);
 }
 .PainelPrincipal h2 {
    
    height:auto;
    width: 45%;
    padding-top: 10px;
    text-align: center;
    color: rgb(240, 240, 240);
    margin-bottom: 4px;
  
 }
.PainelPrincipal img,section,iframe{
    display: flex;
    flex-direction: column;
     width: 190PX;
     height: 100%;
     margin-bottom: 10px;
  object-fit: cover;
}
section,iframe{
    height: 300px;
    width: 95%;
    margin-top: 49px;
}
section h3{
    color: antiquewhite;
    margin-bottom: -40px;
}
.PainelPrincipal img:hover{
   
   transition: all 0.2s  ease-in-out;
border-radius: 10px;    
MIN-width: 160PX;
filter: brightness(0.7);

    
 }

#Lista_tfilmes p,#Lista_tseries p{
    color: antiquewhite;
    margin: 0px 4px;
    text-align: center;
    width: 142px;
}
footer{
    float: left;
    background-color: aliceblue;
    width: 100%;
    height: 17px;
    text-align: center;
}
.Container_catalogo {
    float: left;
    background-color: rgb(0, 0, 0);
    height: 1000px;
    width: 100%;
  
  
}
.Container_catalogo h2 {
    color: aliceblue;
    text-align: center;
    background-color: rgba(34, 38, 37, 0.412);
  
  width: 100%;
}
.Container_catalogo img {
    
   
    height: auto;
    width: 100%;
  
  
}
.catalogo1,.catalogo2{
    display:block ;
   
    width: 100%;
    height:auto;
    margin-top: 20px;
}
.catalogo1 img,.catalogo2 img{
    width:142px;
    height: 250px;
}



}

@media screen and (max-width:735px) {

    
*{
    margin: auto;
    list-style: none;
    text-decoration: none;

}
.tudo{
    background-color: black;
    width: 95%;
}
.cabecalho{

    


    height: 50px;
    width: 100%;
    background-color: rgba(12, 25, 54, 0.726);
}
nav{
   text-align: center;
   padding-top: 10px;
}
nav a{  
   
    font-size: 22px;

    color: rgb(211, 211, 211);
    text-decoration: none;
    font-weight: 900;
    margin: 0px 2px;
    padding: 5px;
}
nav a:hover{  
padding: 5px;
    background-color: rgba(238, 238, 238, 0.123);
    border-radius: 2px;

}
/* Top 5 series */
.Top_FS{
    display: grid;
grid-template-columns: repeat(2,1FR);
    float: left;
    height:auto;
    width: 80%;
    background-color: rgb(13, 13, 26);
}

.Top_FS img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    transition: all 0.1s  ease-in-out;
}
.Top_FS img:hover{
   
   filter: brightness(0.9);
    border-radius: 10px;    
    
   
  
}.Top_FS h2{
    width: 100%;
     color: rgb(244, 244, 244);
     margin: 20px 0px;
     box-shadow: 1px 1px 1px rgb(11, 6, 27);
 }
/* Painel principal */
.PainelPrincipal {
    float: right;
    height:auto;
    width: 20%;
    padding-top: 10px;
background-color: rgb(15, 16, 16);
padding-top: 113px;
 }
 .PainelPrincipal h2 {
    
    font-size: 20px;
    height:auto;
    width: 45%;
    padding-top: 10px;
    text-align: center;
    color: rgb(240, 240, 240);
margin-right: 40px;  
 }
.PainelPrincipal img,section{
    display: flex;
    flex-direction: column;
     width: 100%;
     height: 100%;
     margin-bottom: 10px;
  object-fit: cover;
}
section,iframe{
    height:250px;
    width: 83px;
    margin-top: 78px;
}
section h3{
    color: antiquewhite;
    margin-bottom: -40px;
}
.PainelPrincipal img:hover{
   
   transition: all 0.2s  ease-in-out;
border-radius: 10px;    
filter: brightness(0.7);


    
 }
 #Lista_tfilmes {
 margin-right: -50px;
}
#Lista_tseries {
    margin-right: -20px;
   }

#Lista_tfilmes p,#Lista_tseries p{
    color: antiquewhite;
    margin: 0px -30px;
    text-align: center;
    width: 142px;
}
footer{
    float: left;
    background-color: aliceblue;
    width: 100%;
    height: 17px;
    text-align: center;
}}